body {
  font-weight: $font-weight-700;
  font-style: normal;
  font-family: "League Spartan", sans-serif;
  text-align: center;
  font-weight: 700;
  color: #fff;
}
h1,
p,
button,
input {
  margin: 0;
}
