$theme1-background-color: #3a4663;
$white-color: #ffff;
$theme1-result-background-color: #181f33;
$theme1-secondary-background-color: #242d44;
$theme1-text-color: #434a59;
$theme1-buttons-color: #eae3dc;
$theme1-buttons-second-color: #647198;
$theme1-equal-button-color: #d03f2f;
$theme1-buttons-second-color-hover: #a2b2e1;
$theme1-equal-button-color-hover: #f96b5b;
$theme2-background-color: #e6e6e6;
$theme2-secondary-background-color: #d2cdcd;
$theme2-buttons-color: #e5e4e1;
$theme2-buttons-second-color: #378187;
$theme2-equal-button-color: #c85402;
$theme2-text-color: #36362c;
$theme2-buttons-second-color-hover: #62b5bc;
$theme2-equal-button-color-hover: #ff8a38;
$theme3-background-color: #17062a;
$theme3-secondary-background-color: #1e0936;
$theme3-buttons-color: #331c4d;
$theme3-buttons-second-color: #56077c;
$theme3-equal-button-color: #00ded0;
$theme3-text-color: #ffe53d;
$theme3-buttons-color-hover: #6c34ac;
$theme3-buttons-second-color-hover: #8631af;
$theme3-equal-button-color-hover: #93fff8;
$font-size-32: 32px;
$font-size-12: 12px;
$font-size-40: 40px;
$font-size-56: 56px;
$font-weight-700: 700;
